{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% block title %}
{% trans "Sign In" %}
{% endblock title %}

{% block content %}
<section class="flex justify-center items-center h-screen bg-gray-100">
    <div class="max-w-md w-full bg-white rounded p-6 space-y-4">
        <div class="mb-4">
            <p class="text-gray-600">{% trans "Sign Up" %}</p>
            <h2 class="text-xl font-bold">{% trans "Join our community" %}</h2>
        </div>
        <form action="{% url 'account_signup' %}" method="POST" class="space-y-4">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div>
                {{ form.email }}
                {% for error in form.email.errors %}
                <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                {% endfor %}
            </div>
            <div>
                {{ form.username }}

                {% for error in form.username.errors %}
                <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                {% endfor %}
            </div>
            <div>
                {{ form.password1}}
                {% for error in form.password1.errors %}
                <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                {% endfor %}
            </div>
            <div>
                {{ form.password2}}
                {% for error in form.password2.errors %}
                <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                {% endfor %}
            </div>
            <div>
                <button type="submit"
                    class="w-full py-4 bg-violet-600 hover:bg-violet-700 rounded text-sm font-bold text-gray-50 transition duration-200">
                    {% trans "Sign Up" %}
                </button>
            </div>
        </form>
        <p class="text-center text-sm">
            {% trans "Already have an account?" %} <a href="{% url 'account_login' %}"
                class="text-violet-600 hover:underline">{% trans "Sign in" %}</a>
        </p>
    </div>
</section>
{% endblock %}